.container {
  width: 200px;
  box-shadow: rgb(15, 21, 25) 0px 5px 8px;
  background-color: var(--quickInput-background);
  color: var(--quickInput-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  & button {
    border: 0;
    background-color: var(--button-background);
    color: var(--button-foreground);
    font-size: 16px;
    min-width: 80px;
    padding: 10px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
      background-color: var(--button-hoverBackground);
    }
  }
}
