.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.colorContainer {
    display: flex;
    flex-direction: row;
}

.top {
    display: flex;
    flex-grow: 1;
}

.left {
    flex-direction: column;
    padding: 0 0 20px 18px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.delete {
    font-size: 12px;
}

.tools {
    margin-right: 20px;
}

.scopesList {
    margin-top: 10px;
}

.addScope {
    border-top: 1px solid;

    & input {
        font-size: 14px;
        font-family: var(--font-code);
        border: 0;
        width: 100%;
        background: transparent;
        padding: 8px 10px;
        outline: 0;
    }
}
