.container {
  position: relative;
}

.settingsIcon {
  cursor: pointer;
}

.menu {
  position: absolute;
  background: rgba(240, 240, 240, 0.65);
  top: 25px;
  right: 25px;
  width: 200px;
  border-radius: 4px;
  padding: 4px 0;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 14px;
  backdrop-filter: blur(5px);

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    z-index: -1;
  }

  &.open {
    display: block;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li.divider {
      margin: 5px 0;
      height: 2px;
      background: rgba(0, 0, 0, 0.1);
    }

    & li {
      padding: 0 18px;
      color: black;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;

      &.disabled {
        cursor: default;
        color: rgba(0, 0, 0, 0.25);
      }

      &:not(.divider):not(.disabled):hover {
        cursor: pointer;
        background: rgb(6, 67, 187);
        color: white;
      }
    }
  }
}
