.info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--panel-border);
    padding: 10px 0;
    margin-top: -15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);

    & span {
        display: flex;
        font-size: 13px;
        line-height: 23px;
        cursor: copy;

        &.exists {
            cursor: alias;
        }
    }
}

.scope {
    &:hover {
        background-color: var(--button-hoverBackground);
    }

    padding: 0 10px;
}
